@font-face{
	font-family: 'Century Gothic';
	src: url('fonts/century_gothic.ttf') format('truetype');
	
	font-weight:normal;
	font-style:normal;
}

*{

	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: 0 0 0 0;
	font-family:"Century Gothic";
}


.container{
	width:100%;
}
.flex{
	display:flex;
}
html{
background-color:#808080;
}

header{
	background-color:#808080;
	text-align:center;
}
a{
	outline:none;
	text-decoration:none;
}
