*{

	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: 0 0 0 0;
	font-family:Century Gothic;
}


.container{
	width:100%;
}
.flex{
	display:flex;
}
html{
background-color:#808080;
}

header{
	background-color:#2E3532;
	text-align:center;
}
a{
	outline:none;
	text-decoration:none;
}
.highlight{	
	color:#e40011;
}
