#headerLogo{
	width:30%;	
}
#firstlookcontainer{
	background-image: URL(./media/hurricane.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	font-size:1.5em;
}
#firstlook{
	background-color:rgba(0,0,0,0.5);
	display:flex;
	align-items:center;
	flex-direction:column;
	padding:15% 0 15% 0;
	color:white;
}
#firstlookheader{
	font-size:3em;
}
#firstlooksubheader{
	font-size:1.5em;
}
#minebutton{
	background-color:#D40000;
	border:none;
	outline:none;
	font-size:2em;
	color:white;
	margin-top:20px;
	padding:25px 25px 25px 25px;
}

