body{
	background-color:#F9F9F9;
	color:#2E3235;
}

.coinhive-miner{
	width:40%;
	min-height:250px;
	margin-top:50px;
}
#minerContainer{
	width:100%;
	text-align:center;
	justify-content:center;

	
}
#mineHeader{
	font-size:5em;
	color:#2E3235;
	text-align:center;
	align-items:center;
	margin-top:100px;
	
}
#mineSecondHeader{
	font-size:3em;
	color:#2E3235;
	text-align:center;
	margin-top:-20px;
	margin-bottom:100px;
}
#mineSubHeader{
	padding:100px 0px 100px;
	justify-content:center;	
	background-color:#2E3235;
	margin-bottom:100px;
}
#whenDo{
	flex-basis:0;
	flex-grow:1;
	padding-left:2em;
	font-size:4em;
	color:#E0E2DB;
	align-items:center;
}
#bulletDo{
	flex-basis:0;
	flex-grow:1;
	list-style-position:inside;
	padding-left:15px;
	font-size:2em;
	color:#E0E2DB;
}	
#faqContainer{
	text-align:center;
}
#faqHeader{
	color:#2E3235;
	font-size:3.75em;
	margin-bottom:5px;
}

#faqHeaderContainer{
}
#faqSubHeader{
	display:inline-block;
	font-size:2em;
	border-bottom:10px solid #E40011; 
	padding-bottom:25px;
	margin-bottom:50px;
}


#questionContainer{

}
.question{
	font-size:2.75em;
	margin-bottom:15px;
}
.answer{
	display:inline-block;
	font-size:2em;
	margin-bottom:40px;
	width:65%;

}
